header.header
  .wrapper.header-wrapper
    .header-navbar
      .header-logo
        a(href='/')
          img(src="img/header/logo.png" alt="logo")
      nav.header-menu
        ul.header-menu__items
          li.header-menu__item
            a.header-menu__link(href="#") Home
          li.header-menu__item
            a.header-menu__link(href="#") Products
          li.header-menu__item.header-menu__item_nopad
            a.header-menu__link.header-menu__link_nohov(href="#")
              i(class="fa fa-shopping-cart fa-lg" aria-hidden="true")
    section.header-info
      h1.header-info__title Our clothing , your comfort
      p.header-info__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore <br> magna aliqua.
    .header-button
      a(href="#filter").ancLinks
        i.header-button__icon#button-down(class="fa fa-chevron-down fa-2x" aria-hidden="true")
