doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="format-detection", content="telephone=no")
      
    title Test FM
    
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="./css/main.css")
    link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
    
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    
      
  body(ng-app="testTask")
    include ./blocks/header.pug
    include ./blocks/filter-block.pug
    include ./blocks/footer.pug
    script(src="js/index.js")
